/* Global Styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-color: aliceblue;
  background-size: cover; 
  background-position: center; 
}

/* Header Styles */
.carousel-item img {
  width: 100%;              
  height: 455px;           
  object-fit: cover;       
}

/* Navbar Styles */
.navbar-custom {
  background-color: #797979; /* Navbar background color */
}

.navbar-brand img {
  width: 80px; /* Logo size */
  height: 80px; 
  margin-right: 10px; 
}

.navbar-brand h2 {
  margin-bottom: 0; 
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #ffffff; 
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Card Styles */
.card-custom {
  width: 300px;           
  height: 500px;         
  margin: 10px;          
  overflow: hidden;       
  display: flex;          
  flex-direction: column; 
  border-radius: 15px; /* Consistent rounding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.card-custom img {
  width: 100%;            
  height: 200px;         
  object-fit: cover;      
  object-position: center; 
}

.card-custom .card-title {
  font-size: 1.2rem;
  margin: 10px 0;
  min-height: 50px;         
  display: flex;
  align-items: center;      
  justify-content: center;  
  text-align: center;       
}

.card-custom .card-text {
  font-size: 0.9rem;
  margin-bottom: 10px;
  min-height: 100px;       
  flex-direction: column;  
  justify-content: space-between; 
  align-items: flex-start;  
}

.card-custom .card-body {
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  flex-grow: 1;            
}

/* Login & Register */
.form-container {
  margin: auto;
  margin-top: 4%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px; 
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold; 
}

.password-container {
  position: relative;
}

.password-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.text-muted {
  font-size: 0.9em; 
}

.btn-login-register {
  width: 100%; 
}

/* Vehicle Details */
.vehicle-details-container {
  margin: 50px 0;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-details-row {
  align-items: center;
}

.vehicle-image {
  border-radius: 8px;
  max-width: 100%;
  height: 480px;
}

.vehicle-info {
  margin-top: 20px;
  padding-left: 20px;
}

.vehicle-info h1 {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.vehicle-info .details-text {
  line-height: 1.6;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.vehicle-info .price {
  font-size: 24px;
  color: #28a745;
  font-weight: bold;
}

.vehicle-info .status {
  font-size: 18px;
  color: #ff4c4c;
  font-weight: bold;
}

.vehicle-info .back-button {
  margin-top: 20px;
}

.vehicle-info .back-button button {
  padding: 10px 20px;
}

/* About Us */
.about {
  margin-top: 50px; 
}

.icon-success {
  color: white;
  clip-path: circle(35%);
  height: 5em;
  width: 5em;
  background-color: #0099FF;
}

.card {
  margin-top: 20px; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #343a40; 
}

.card-text {
  font-size: 1rem; 
  color: #6c757d; 
  line-height: 1.5; 
}

.d-flex {
  justify-content: center; 
  align-items: center; 
}

/* Contact */


h1 {
  margin-bottom: 30px; 
  font-weight: bold; 
}

.map-container {
  border-radius: 15px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card {
  margin-top: 20px; 
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #343a40; 
}

.card-text {
  font-size: 1rem; 
  color: #6c757d; 
  line-height: 1.5; 
}

.card-text p {
  margin: 0; 
}

.social-icons {
  margin-top: 10px; 
}

.social-icons a {
  font-size: 1.5rem; 
  color: #343a40; 
  transition: color 0.3s; 
}

.social-icons a:hover {
  color: #007bff; 
}
